html{
  background-color: #f1f1f1;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 1.4rem;
  font-family: 'Nunito', sans-serif;

}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

:root{
  --primary-color: rgb(0, 18, 67);
  --gray-global: rgb(241, 241, 241);
}
a {
  padding: 5px 15px;
} 