html{
  background-color: #f1f1f1;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 1.4rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --primary-color: rgb(0, 18, 67);
  --gray-global: rgb(241, 241, 241);
}
a {
  padding: 5px 15px;
}

header{
  padding-top: 20px;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
}
header h2{
  background-color: var(--primary-color);
  margin: 0px;
}

nav {
  /* width: 100%; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  /* font-weight: 600; */
}


footer {
  /* position: absolute; */
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  /* bottom: 0px; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.productItem{
  max-width: 100%; /* No exceder su columna */
  overflow: hidden; /* Evita desbordes si el contenido se pasa */
  box-sizing: border-box; /* Para que padding y border no sumen ancho extra */
  padding: 40px 10px;
}
.productItem .img-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  max-height: 220px;
  cursor: pointer;
  background-color: white;
}

.info-container-item{
  padding: 10px;
  /* border-bottom: 0.2px solid rgb(212, 212, 212); */
  /* border-left: 0.2px solid rgb(212, 212, 212);
  border-right: 0.2px solid rgb(212, 212, 212); */
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  border-width: 0.5px;

}

.productItem img{
  /* padding: 0px 25%; */
  height: 180px;
  /* padding: 5px; */
  transition: transform 0.2s ease-in-out;
}
.productItem .img-container:hover img{
  transform: scale(1.1);
  /* overflow: hidden; */
}
.productItem #price{
  color: green;
  font-weight: bolder;
  font-size: 22px;
}

.productItem .btn-add{
  background-color: var(--primary-color);
  padding: 8px 13px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.productItem .btn-add:hover{
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.productItem #count{
  color: rgb(161, 0, 0);
  font-weight: bold;
  font-size: 20px;
}
.productItem p{
  margin-bottom: 6px;
  margin-top: 6px;
}

.productList{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas del mismo tamaño */
  /* gap: 1rem; espacio entre elementos (opcional) */
  max-width: 80%;
  margin: auto;
}

.cart-container{
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%; 
  box-sizing: border-box;
}

.cart-container .section{
  background-color: white;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 30px;
  padding: 25px;
  min-height: 300px;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-container .section hr{
  border: 1px solid #ccc;
  margin: 10px 0;
}
.cart-container .section button{
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 16px 8px ;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.cart-container .section button:hover{
  background-color: var(--gray-global);
  color: var(--primary-color);
}
.cart-container .section .details-of-the-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70%;
}
.cart-container .section .details-of-the-total .row{
  grid-template-columns: 60% 40%; 
  display: grid;
}
.cart-container .section .details-of-the-total .row:nth-last-of-type(1) p{
  font-size: 22px;
  font-weight: bolder;
}
  
.cart-container .section .details-of-the-total p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.cart-container .section .details-of-the-total p:nth-of-type(2){
  text-align: right;
}


.cart-container .section .details-of-the-products .row{
  grid-template-columns: 20% 40% 20% 20%; 
  display: grid;
  border-bottom: 1px solid #989898;
}
.cart-container .section .details-of-the-products .row .col{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.cart-container .section .details-of-the-products .row .col img{
  width: 100%;
  padding: 10px;
}